.box__animation__left {
  animation: animation_left 0.4s ease;
}

.box__animation__rigth {
  animation: animation_rigth 0.4s ease;
}

@keyframes animation_left {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes animation_rigth {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}